@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    overflow-x: visible;
    padding-top: 75px;
}

div.header {
    width: 100%;
    height: 75px;
    padding-top: 20px;
    background-color: #fff;
    position: fixed;
    top: 0; 
    z-index: 999;
}

div.header div.return a i#icon {
    font-size: 25px;
    color: #000;
    margin-left: 25px;
    margin-top: 5px;
}

div.body-section {
    width: 100%;
    height: 88vh;
    background: radial-gradient(rgba(1, 41, 131, 0.6), rgba(3, 41, 141, 0.7)), url("new.jpg") 
    no-repeat center top/cover;
    position: relative;
}

div.body-section div.pay {
    width: 700px;
    height: 450px;
    margin: 0 auto;
    border-radius: 7px;
    background-color: #fff;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 60px;

    
}

div.body-section div.pay div.direct {
    width: 350px;
    height: 450px;
    background: url('flier.jpg') no-repeat center top/cover;
    position: relative;
    left: -14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

div.body-section div.pay div.confirm {
    width: 350px;
    height: 450px;
    padding: 20px 0;
    padding-left: 15px;
}

div.body-section div.pay div.confirm h1 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

div.body-section div.pay div.confirm h1 span {
    color: rgba(1, 51, 331, 0.7);
}

div.body-section div.pay div.confirm p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

div.body-section div.pay div.confirm ol {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 50px;
    padding-left: 15px;
}

div.body-section div.pay div.confirm .pay-button {
    display: flex;
    justify-content: center;
}

div.body-section div.pay div.confirm div.pay-button a#payBtn {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

div.body-section div.pay div.confirm div.pay-button a#payBtn:hover {
    transform: scale(1.10);
    transition: 0.4s;
    background-color: #000;
    border-color: #000;
}

@media(max-width: 750px) {
    div.body-section  {
        height: 1100px;
    }
    div.body-section div.pay {
        width: 400px;
        height: 1000px;
        margin: 0 auto;
        margin-top: 70px;
        flex-direction: column;
    }
    
    div.body-section div.pay div.direct {
        width: 400px;
        height: 1000vh;
        background: url('flier.jpg') no-repeat center top/cover;
        position: relative;
        left: -12px;
        top: -3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        
    }
    
    div.body-section div.pay div.confirm {
        width: 400px;
        padding: 70px 0;
    }
    
    div.body-section div.pay div.confirm h1 {
        font-size: 22px;
        font-weight: bold;
        color: #000;
        margin-bottom: 20px;
        margin-right: 40px;
    }
    
    div.body-section div.pay div.confirm h1 span {
        color: rgba(1, 51, 331, 0.7);
    }
    
    div.body-section div.pay div.confirm p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    div.body-section div.pay div.confirm ol {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 35px;
        padding-left: 15px;
    }
    
    div.body-section div.pay div.confirm .pay-button {
        display: flex;
        justify-content: center;
    }
    
    div.body-section div.pay div.confirm div.pay-button a#payBtn {
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        margin-right: 55px;
    }
    
    div.body-section div.pay div.confirm div.pay-button a#payBtn:hover {
        transform: scale(1.10);
        transition: 0.4s;
        background-color: #000;
        border-color: #000;
    }
}

@media(max-width: 385px) {
    div.body-section {
        width: 900px;
    }

    div.body-section div.pay {
        width: 500px;
        height: 1000px;
        margin: 0 auto;
        margin-top: 70px;
        flex-direction: column;
    }

    div.body-section div.pay div.direct {
        width: 500px;
    }

    div.body-section div.pay div.confirm h1 {
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
        margin-left: 65px;
        font-weight: bold;
        color: #000;
        margin-bottom: 20px;
    }

    div.body-section div.pay div.confirm p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-left: 45px;
    }

    div.body-section div.pay div.confirm ol {
        padding-left: 55px;
    }

    div.body-section div.pay div.confirm div.pay-button {
        display: block;
        margin-left: 180px;
    }

    div.body-section div.pay div.confirm div.pay-button a#payBtn {
        margin-bottom: 30px;
    }

}
